# SUPABASE [POSTGRES] DB URL FOR PRISMA
DATABASE_URL=YOUR_DATABASE_URL

# SENDGRID EMAIL API KEY
SENDGRID_API_KEY=YOUR_SENDGRID_API_KEY

# JWT SECRETS
REFRESH_SECRET=YOUR_REFRESH_SECRET
JWT_SECRET=YOUR_JWT_SECRET

# TOKENS EXPIRATIONS
ACCESS_TOKEN_EXPIRATION="7d"
REFRESH_TOKEN_EXPIRATION="14d"

# EMAIL PASSWORD
EMAIL_ADDRESS=YOUR_EMAIL_ADDRESS
EMAIL_PASSWORD=YOUR_EMAIL_PASSWORD

#RESEND
RESEND_API_KEY=YOUR_RESEND_API_KEY

# SUPABASE CREDENTIALS
SUPABASE_URL=YOUR_SUPABASE_UR,
SUPABASE_API_KEY=YOUR_SUPABASE_API_KEY
NEXT_PUBLIC_SUPABASE_URL=YOUR_NEXT_PUBLIC_SUPABASE_URL
NEXT_PUBLIC_SUPABASE_ANON_KEY=YOUR_NEXT_PUBLIC_SUPABASE_ANON_KEY

# FIREBASE CREDENTIALS
FIREBASE_API_KEY=YOUR_FIREBASE_API_KEY
FIREBASE_AUTH_DOMAIN=YOUR_FIREBASE_AUTH_DOMAIN
FIREBASE_PROJECT_ID=YOUR_FIREBASE_PROJECT_ID
FIREBASE_STORAGE_BUCKET=YOUR_FIREBASE_STORAGE_BUCKET
FIREBASE_MESSAGING_SENDER_ID=YOUR_FIREBASE_MESSAGING_SENDER_ID
FIREBASE_APP_ID=YOUR_FIREBASE_APP_ID
FIREBASE_MEASUREMENT_ID=YOUR_FIREBASE_MEASUREMENT_ID

# Domain
NEXT_PUBLIC_APP_URL=YOUR_NEXT_PUBLIC_APP_URL
DOMAIN=YOUR_DOMAIN
PORT=PORT

# CLERK STUFF
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=YOUR_CLERK_PUBLISHABLE_KEY
CLERK_SECRET_KEY=YOUR_CLERK_SECRET_KEY
NEXT_PUBLIC_CLERK_SIGN_IN_URL=YOUR_CLERK_SIGN_IN_URL
NEXT_PUBLIC_CLERK_SIGN_UP_URL=YOUR_CLERK_SIGN_UP_URL
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=YOUR_CLERK_AFTER_SIGN_IN_URL
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=YOUR_CLERK_AFTER_SIGN_UP_URL

# MUX
MUX_TOKEN_ID=YOUR_MUX_TOKEN_ID
MUX_TOKEN_SECRET=YOUR_MUX_TOKEN_SECRET

# CLOUDINARY KEYS
CLOUDINARY_CLOUD_NAME=YOUR_CLOUDINARY_CLOUD_NAME
CLOUDINARY_API_KEY=YOUR_CLOUDINARY_API_KEY
CLOUDINARY_API_SECRET=YOUR_CLOUDINARY_API_SECRET
CLOUDINARY_API_ENV_VARIABLE=CLOUDINARY_URL=YOUR_CLOUDINARY_API_ENV_VARIABLE

# UPLOADTHING
UPLOADTHING_SECRET=YOUR_UPLOADTHING_SECRET
UPLOADTHING_APP_ID=YOUR_UPLOADTHING_APP_ID

# STRIPE API
STRIPE_API_KEY=YOUR_STRIPE_API_KEY
STRIPE_PUBLISHABLE_KEY=YOUR_STRIPE_PUBLISHABLE_KEY
STRIPE_DESIGN_COURSE_PRICE_ID=YOUR_STRIPE_DESIGN_COURSE_PRICE_ID
STRIPE_WEBHOOK_SECRET=YOUR_STRIPE_WEBHOOK_SECRET

# PRO SUBSCRIPTION PRICE ID
STRIPE_PRO_SUBSCRIPTION_PRICE_ID=YOUR_STRIPE_PRO_SUBSCRIPTION_PRICE_ID

# AGORA VIDEO SDK
AGORA_APP_ID=YOUR_AGORA_APP_ID
AGORA_PRIMARY_CERTIFICATE=YOUR_AGORA_PRIMARY_CERTIFICATE

# STREAM VIDEO SDK
NEXT_PUBLIC_STREAM_CHAT_API_KEY=YOUR_STREAM_CHAT_API_KEY
NEXT_PUBLIC_STREAM_CHAT_SECRET_KEY=YOUR_STREAM_CHAT_SECRET_KEY

# WEB PUSH KEYS
WEB_PUSH_PUBLIC_KEY=YOUR_WEB_PUSH_PUBLIC_KEY
WEB_PUSH_PRIVATE_KEY=YOUR_WEB_PUSH_PRIVATE_KEY